table, th, td {
    border: 1px solid #b9b9b924;
    border-collapse: collapse;
    padding:29px;
}

#GamePalne {
    background-image: url('../image/w10.jpg');
    /* background-size: 1500px; */
    position: relative;
    left:+60px;
    bottom:-48px;
    margin: auto;
}


.camera{
    overflow: hidden;
    width: 1024px;
    height: 500px;
    border: 3px solid #d0d0d0;;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../image/brick2.jpg");
    background-repeat: repeat;
    background-size: 400px;
}

/* .fire{
    background-image: url('../Image/fire.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border: 1px;
} */


.tree1{
    background-image: url('../Image/tree1.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border: 1px;
}

.tree2{
    background-image: url('../Image/tree2.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border: 1px;
}

.block {
    background-image: url('../Image/wallBrick.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border: 1px;
}

.explosion {
    background-image: url('../Image/source.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border: 1px;
}


.Goal {
    background-image: url('../Images/SteveGoal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    border: 1px;
}

.BillGoal {
    background-image: url('../Images/BilliGoal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    border: 1px;
}

.tmpon {
    background-image: url('../Images/BillGatesGood.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33px;
}

/* .steve {
    background-image: url('../Images/SteveJobsGood.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33px;
} */

#GameStruct {
    width: 99%;
    height: auto;
}


.GameHead {
    width: 99%;
    padding: 0px;
    font-size: 16px;
    margin: 0px 0px;
    background-color: rgb(255, 152, 152);
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: cursive;
    border: 2px solid white;
}

.Score {
    width: 125px;
    border-radius: 10px;
    background-color: rgb(255, 241, 219);
    margin: 10px;
    text-align: center;
    font-family: cursive;
    padding: 5px;
    float: left;
}

.steveImg {
    width: 36%;
    height: 70%;
}

.Aduio {
    width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 240, 226);
    margin: 10px;
    padding: 4px;
    float: left;
}

#BillQoute {
    float: left;
    margin-left: 13%;
}

#SteveQoute {
    float: left;
    margin-left: 13%;
}

.reStart {
    font-size: 17px;
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.QuetText {
    float: left;
    width: 500px;
    line-height: 26px;
    height: 487px;
    background-color: rgb(248, 246, 240);
    padding: 30px;
    margin: 0px;
    margin-right: 10PX;
    border: 1PX solid;
    border-radius: 10PX;
    font-family: sans-serif!important;
    font-size: 18px;
}



.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* ------------------------------------------------------------------------------ */

.myButton2 {
	-moz-box-shadow: 0px 10px 14px -7px #27734e;
	-webkit-box-shadow: 0px 10px 14px -7px #27734e;
	box-shadow: 0px 10px 14px -7px #27734e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00fa11), color-stop(1, #127316));
	background:-moz-linear-gradient(top, #00fa11 5%, #127316 100%);
	background:-webkit-linear-gradient(top, #00fa11 5%, #127316 100%);
	background:-o-linear-gradient(top, #00fa11 5%, #127316 100%);
	background:-ms-linear-gradient(top, #00fa11 5%, #127316 100%);
	background:linear-gradient(to bottom, #00fa11 5%, #127316 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fa11', endColorstr='#127316',GradientType=0);
	background-color:#00fa11;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3e8a4d;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #127316), color-stop(1, #00fa11));
	background:-moz-linear-gradient(top, #127316 5%, #00fa11 100%);
	background:-webkit-linear-gradient(top, #127316 5%, #00fa11 100%);
	background:-o-linear-gradient(top, #127316 5%, #00fa11 100%);
	background:-ms-linear-gradient(top, #127316 5%, #00fa11 100%);
	background:linear-gradient(to bottom, #127316 5%, #00fa11 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#127316', endColorstr='#00fa11',GradientType=0);
	background-color:#127316;
}
.myButton2:active {
	position:relative;
	top:1px;
}
/* 
------------------------------------------------------------------- */

.myButton3 {
	-moz-box-shadow: 0px 10px 14px -7px #732768;
	-webkit-box-shadow: 0px 10px 14px -7px #732768;
	box-shadow: 0px 10px 14px -7px #732768;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b359a1), color-stop(1, #994061));
	background:-moz-linear-gradient(top, #b359a1 5%, #994061 100%);
	background:-webkit-linear-gradient(top, #b359a1 5%, #994061 100%);
	background:-o-linear-gradient(top, #b359a1 5%, #994061 100%);
	background:-ms-linear-gradient(top, #b359a1 5%, #994061 100%);
	background:linear-gradient(to bottom, #b359a1 5%, #994061 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b359a1', endColorstr='#994061',GradientType=0);
	background-color:#b359a1;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3e87;
}
.myButton3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #994061), color-stop(1, #b359a1));
	background:-moz-linear-gradient(top, #994061 5%, #b359a1 100%);
	background:-webkit-linear-gradient(top, #994061 5%, #b359a1 100%);
	background:-o-linear-gradient(top, #994061 5%, #b359a1 100%);
	background:-ms-linear-gradient(top, #994061 5%, #b359a1 100%);
	background:linear-gradient(to bottom, #994061 5%, #b359a1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#994061', endColorstr='#b359a1',GradientType=0);
	background-color:#994061;
}
.myButton3:active {
	position:relative;
	top:1px;
}




.myButton4 {
	-moz-box-shadow: 0px 10px 14px -7px #687327;
	-webkit-box-shadow: 0px 10px 14px -7px #687327;
	box-shadow: 0px 10px 14px -7px #687327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d8db0d), color-stop(1, #737308));
	background:-moz-linear-gradient(top, #d8db0d 5%, #737308 100%);
	background:-webkit-linear-gradient(top, #d8db0d 5%, #737308 100%);
	background:-o-linear-gradient(top, #d8db0d 5%, #737308 100%);
	background:-ms-linear-gradient(top, #d8db0d 5%, #737308 100%);
	background:linear-gradient(to bottom, #d8db0d 5%, #737308 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8db0d', endColorstr='#737308',GradientType=0);
	background-color:#d8db0d;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a8a3e;
}
.myButton4:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #737308), color-stop(1, #d8db0d));
	background:-moz-linear-gradient(top, #737308 5%, #d8db0d 100%);
	background:-webkit-linear-gradient(top, #737308 5%, #d8db0d 100%);
	background:-o-linear-gradient(top, #737308 5%, #d8db0d 100%);
	background:-ms-linear-gradient(top, #737308 5%, #d8db0d 100%);
	background:linear-gradient(to bottom, #737308 5%, #d8db0d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#737308', endColorstr='#d8db0d',GradientType=0);
	background-color:#737308;
}
.myButton4:active {
	position:relative;
	top:1px;
}

.back
{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
		


.myButton5 {
	-moz-box-shadow: 0px 10px 14px -7px #9c7c1c;
	-webkit-box-shadow: 0px 10px 14px -7px #9c7c1c;
	box-shadow: 0px 10px 14px -7px #9c7c1c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffa200), color-stop(1, #b58e2a));
	background:-moz-linear-gradient(top, #ffa200 5%, #b58e2a 100%);
	background:-webkit-linear-gradient(top, #ffa200 5%, #b58e2a 100%);
	background:-o-linear-gradient(top, #ffa200 5%, #b58e2a 100%);
	background:-ms-linear-gradient(top, #ffa200 5%, #b58e2a 100%);
	background:linear-gradient(to bottom, #ffa200 5%, #b58e2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa200', endColorstr='#b58e2a',GradientType=0);
	background-color:#ffa200;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a6e3e;
}
.myButton5:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b58e2a), color-stop(1, #ffa200));
	background:-moz-linear-gradient(top, #b58e2a 5%, #ffa200 100%);
	background:-webkit-linear-gradient(top, #b58e2a 5%, #ffa200 100%);
	background:-o-linear-gradient(top, #b58e2a 5%, #ffa200 100%);
	background:-ms-linear-gradient(top, #b58e2a 5%, #ffa200 100%);
	background:linear-gradient(to bottom, #b58e2a 5%, #ffa200 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b58e2a', endColorstr='#ffa200',GradientType=0);
	background-color:#b58e2a;
}
.myButton5:active {
	position:relative;
	top:1px;
}

        